.footer {
    padding: 0 3rem 3rem;
    font-family: system-ui, sans-serif;
    width: 100%;
    background-color: #EFEEEA;;
  }
  
  
  .footer-line {
    width: 90%;
    height: 3px;
    background: #111111;
    margin-bottom: 1.8rem;
  }
  
  /* Link layout */
  .footer-links {
    display: flex;
    justify-content: space-between; /* left / center / right */
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  
  /* Link styles */
  .footer-links a {
    text-decoration: none;
    color: #111;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-weight: 400;
  }
  
  .footer-links a:hover {
    opacity: 0.7;
  }
  