/* Container */
.auth-container {
    max-width: 360px;
    margin: 6rem auto;
    text-align: center;
    font-family: system-ui, sans-serif;
  }
  
  /* Title */
  .auth-title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  
  /* Error message */
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  /* Form layout */
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* Inputs */
  .auth-form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
  
    border: 2px solid var(--accent); 
    border-radius: 14px;
  
    outline: none;
  }
  
  .auth-form input:focus {
    border: #7e9c93; 
  }
  
  /* Submit button */
  .auth-btn {
    width: 400px;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 50;
    border-radius: 14px;
    border: 2px solid var(--accent);
    background: #356b5c;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .auth-btn:hover:not(:disabled) {
    background: #629485;
  }
  
  .auth-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Under-form text */
  .auth-switch {
    margin-top: 1.5rem;
    font-size: 0.95rem;
    color: #4b5563;
  }
  
  .auth-switch a {
    font-weight: 600;
    color: black;
    text-decoration: none;
  }
  